In [1]:
import pandas as pd
import datetime

In [2]:
time=pd.date_range('01-01-2014',freq='W',periods=165)

In [3]:
vol=[20]*2+[25]*3+[-10]*5+[115]*20+[5]*55+[-5]*25+[0]*11+[-10]*11+[25]*22+[1]*11

In [4]:
df=pd.DataFrame(vol,index=time)

In [5]:
df.groupby(df.index.year).agg

In [6]:
df.groupby(df.index.year).agg

In [7]:
def calc_YTD_Avg(df,stat):
    avg=df.groupby(df.Date.dt.year)[stat].cumsum().shift()/df.groupby(df.Date.dt.year)[stat].cumcount()
    avg.name='YTD_AVG_stat'
    return avg

In [8]:
X=calc_YTD_Avg(df,0)

AttributeError: 'DataFrame' object has no attribute 'Date'

In [74]:
X.name='AVG'

In [75]:
X

2014-01-05          NaN
2014-01-12    20.000000
2014-01-19    20.000000
2014-01-26    21.666667
2014-02-02    22.500000
                ...
2017-01-29     1.000000
2017-02-05     1.000000
2017-02-12     1.000000
2017-02-19     1.000000
2017-02-26     1.000000
Freq: W-SUN, Name: AVG, Length: 165, dtype: float64

In [11]:
batting_games=pd.read_pickle('../Base DFs/batting_gamelogs.pkl')
batting_years=pd.read_pickle('../Base DFs/team_batting_splits.pkl')

In [28]:
batting_logs.groupby(['Team'])

In [59]:
boxed=batting_logs.set_index(['Team','year','#'])

In [12]:
batting_years

          #Bat  BatAge         PA         AB         R         H        2B  \
Tm  Yr
ARI 2014  52.0    27.6  37.586420  34.271605  3.796296  8.512346  1.598765
    2015  50.0    26.5  38.740741  34.870370  4.444444  9.222222  1.783951
    2016  50.0    26.7  38.641975  34.969136  4.641975  9.129630  1.759259
    2017  45.0    28.3  38.419753  34.104938  5.012346  8.672840  1.938272
    2018  49.0    29.2  38.006173  33.703704  4.277778  7.919753  1.598765
...        ...     ...        ...        ...       ...       ...       ...
WSN 2014  40.0    28.7  38.370370  34.209877  4.234568  8.660494  1.635802
    2015  44.0    28.4  37.759259  33.506173  4.339506  8.413580  1.635802
    2016  43.0    28.8  38.277778  33.888889  4.709877  8.660494  1.654321
    2017  49.0    29.2  38.358025  34.277778  5.055556  9.117284  1.919753
    2018  53.0    27.6  38.814815  34.055556  4.759259  8.654321  1.753086

                3B        HR       RBI  ...    SLG    OPS  OPS+         TB  \
Tm  Yr                                  ...
ARI 2014  0.290123  0.728395  3.537037  ...  0.376  0.678  88.0  12.876543
    2015  0.296296  0.950617  4.197531  ...  0.414  0.738  97.0  14.450617
    2016  0.345679  1.172840  4.376543  ...  0.432  0.752  93.0  15.098765
    2017  0.240741  1.358025  4.790123  ...  0.445  0.774  94.0  15.166667
    2018  0.308642  1.086420  4.061728  ...  0.397  0.707  86.0  13.395062
...            ...       ...       ...  ...    ...    ...   ...        ...
WSN 2014  0.166667  0.938272  3.919753  ...  0.393  0.714  96.0  13.444444
    2015  0.080247  1.092593  4.104938  ...  0.403  0.724  96.0  13.487654
    2016  0.179012  1.253086  4.537037  ...  0.426  0.751  96.0  14.432099
    2017  0.191358  1.327160  4.913580  ...  0.449  0.782  99.0  15.401235
    2018  0.154321  1.179012  4.549383  ...  0.419  0.753  98.0  14.253086

               GDP       HBP        SH        SF       IBB        LO
Tm  Yr
ARI 2014  0.709877  0.265432  0.345679  0.222222  0.191358  0.672840
    2015  0.827160  0.203704  0.283951  0.351852  0.246914  0.709877
    2016  0.722222  0.308642  0.265432  0.234568  0.265432  0.685185
    2017  0.654321  0.333333  0.240741  0.166667  0.271605  0.685185
    2018  0.679012  0.320988  0.234568  0.277778  0.222222  0.666667
...            ...       ...       ...       ...       ...       ...
WSN 2014  0.709877  0.345679  0.370370  0.253086  0.179012  0.067901
    2015  0.796296  0.271605  0.339506  0.314815  0.234568  0.685185
    2016  0.629630  0.395062  0.296296  0.388889  0.302469  0.679012
    2017  0.716049  0.191358  0.265432  0.277778  0.345679  0.679012
    2018  0.641975  0.364198  0.253086  0.246914  0.345679  0.728395

[150 rows x 26 columns]

In [10]:
batting_logs

,#,Date,HA,Opp,Outcome,PA,AB,Runs,Hits,2B,...,OBP,Slugging,OPS,Left_on_Base,Players_Used,Starter_LR,Starter_GScore,link,year,Team
index,,,,,,,,,,,,,,,,,,,,,
ARI_2019_1,1,2019-03-28,@,LAD,"L,5-12",35,33,5,9,4,...,.257,.576,.833,3,11,L,68,/boxes/LAN/LAN201903280.shtml,2019,ARI
ARI_2019_2,2,2019-03-29,@,LAD,"W,5-4",56,50,5,10,3,...,.275,.422,.696,12,18,R,66,/boxes/LAN/LAN201903290.shtml,2019,ARI
ARI_2019_3,3,2019-03-30,@,LAD,"L,5-18",35,32,5,7,0,...,.278,.470,.747,3,13,R,56,/boxes/LAN/LAN201903300.shtml,2019,ARI
ARI_2019_4,4,2019-03-31,@,LAD,"L,7-8",40,39,7,13,2,...,.295,.481,.776,6,15,R,28,/boxes/LAN/LAN201903310.shtml,2019,ARI
ARI_2019_5,5,2019-04-01,@,SDP,"W,10-3",45,40,10,15,5,...,.322,.500,.822,8,11,L,21,/boxes/SDN/SDN201904010.shtml,2019,ARI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WSN_2015_158,158,2015-09-30,@,ATL,"L,0-2",34,31,0,6,2,...,.324,.406,.730,7,11,R,60,/boxes/ATL/ATL201509300.shtml,2015,WSN
WSN_2015_159,159,2015-10-01,@,ATL,"W,3-0",34,33,3,6,0,...,.323,.405,.728,4,15,R,73,/boxes/ATL/ATL201510010.shtml,2015,WSN
WSN_2015_160,160,2015-10-03,@,NYM,"W,3-1",34,29,3,4,1,...,.323,.405,.728,4,15,R,78,/boxes/NYN/NYN201510031.shtml,2015,WSN
WSN_2015_161,161,2015-10-03,@,NYM,"W,2-0",34,32,2,5,0,...,.322,.404,.726,5,10,R,73,/boxes/NYN/NYN201510032.shtml,2015,WSN
WSN_2015_162,162,2015-10-04,@,NYM,"L,0-1",31,29,0,2,1,...,.321,.403,.724,4,12,R,67,/boxes/NYN/NYN201510040.shtml,2015,WSN

In [69]:
boxed.loc['ARI'].groupby(level=0)[['Date','Runs']].cumsum().shift()

           Runs
year #
2019 1      NaN
     2      5.0
     3     10.0
     4     15.0
     5     22.0
...         ...
2015 158  697.0
     159  700.0
     160  708.0
     161  713.0
     162  715.0

[810 rows x 1 columns]

In [70]:
boxed.loc['ARI'].groupby(level=0)[['Date','Runs']].cumcount()

year  #
2019  1        0
      2        1
      3        2
      4        3
      5        4
            ...
2015  158    157
      159    158
      160    159
      161    160
      162    161
Length: 810, dtype: int64